table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#companyupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #companyupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #companyupdateformdiv label {
        font-weight: bolder;
    }

#planetupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #planetupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #planetupdateformdiv label {
        font-weight: bolder;
    }

#shipupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #shipupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #shipupdateformdiv label {
        font-weight: bolder;
    }

#companyformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #companyformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #companyformdiv label {
        font-weight: bolder;
    }

#planetformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #planetformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #planetformdiv label {
        font-weight: bolder;
    }

#shipformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #shipformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #shipformdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}
